@import './../../../../../styles/variables';

.navbar {

  padding-top: $header-height;

  .nav {

    text-align: center;

    &__item {

      padding: 20px 0;
      color: $item-color;
      border-left: 4px transparent solid;

      &__icon {
        display: block;
      }

      &--active {
        border-color: $item-border-color-selected;
        background-color: $item-bg-color-hover;
      }

      &:hover {
        background-color: $item-bg-color-hover;
      }
    }
  }
}
