<p-card>
  <p-header>
    <h3 class="text-align-center">{{header}}</h3>
  </p-header>
  <p-table #tt [columns]="columnSchema" [value]="tasks" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter"
        (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th *ngIf="isTaskStatusChangeAllowed">
          Change status
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <p-dropdown *ngSwitchCase="'creator'" [options]="creatorList" placeholder="Filter by user" [showClear]="true" [style]="{'width':'100%'}"
            (onChange)="tt.filter($event.value, col.field, 'equals')"></p-dropdown>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td class="text-align-center" *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td class="text-align-center" *ngIf="isTaskStatusChangeAllowed">
          <p-toggleButton onLabel="Done" offLabel="Mark as done" onIcon="fa fa-check" offIcon="fa fa-times" iconPos="right"
            (onChange)="toChangeTaskStatus(rowData)" [(ngModel)]="rowData['isCompleted']">
          </p-toggleButton>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr class="text-align-center">
        <td [attr.colspan]="columns.length">
          No records found
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
