<header class="header">
  <h2 class="header__title">
    Task Control
  </h2>
  <div class="header__quick-info">
    <div class="header__quick-info__item">
      <label class="header__quick-info__item-label">
        My Tasks:
      </label>
      <span class="header__quick-info__item-value badge badge--primary">
        {{taskStoreService.myTasksCount$ | async}}
      </span>
    </div>
    <div class="header__quick-info__item">
      |
    </div>
    <div class="header__quick-info__item">
      <label class="header__quick-info__item-label">
        Team Tasks:
      </label>
      <span class="header__quick-info__item-value badge badge--primary">
        {{taskStoreService.teamTasksCount$ | async}}
      </span>
    </div>
  </div>
</header>