@import './variables';

body {
  background-color: $page-bg;
  font-family: $default-font-family;
  font-size: $default-font-size * 0.9;
}

.text-align-center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

.error {
  color: $red;
  font-size: $default-font-size * 0.75;
  padding-top: 5px;
}

input {

  &[type="text"],
  &[type="number"],
  &[type="email"] {
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    border: 1px solid $prime-ng-input-border-color;
  }
}

.d-flex {
  display: flex;
}

.col-50 {
  width: 50%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.p-15 {
  padding: 15px;
}
