// Colors
$primary: #5f6be3;
$secondary: #404852;
$page-bg :#f3f3f9;
$white :#ffffff;

$header-height: 75px;
$page-side-bar-width: 75px;
$default-font-size: 16px;
$default-font-family: Tahoma;



// Navbar
$item-color: $secondary;
$item-bg-color-hover: $page-bg;
$item-border-color-selected: $primary;